.ultimateTicTacToe-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
    column-gap: 10px;
    row-gap: 15px;
    width: 50%;
    margin: auto;
}

.ticTacToe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
    
}

.square {
    height: 60px;
}

.status {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2vw;
    color: white;
    border-radius: 0px 0px 15px 15px;
}

.infobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-board{
    display: inline-grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    padding: 10px;
}